{% extends 'catalog/base.html' %}
{% load static %}

{% block title %} Skystore - Главная{% endblock %}

{% block content %}
    <div class="container">
        <div style="max-width: 600px; margin: auto;">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100%; height: auto;">
            <p><strong>Категория:</strong> {{product.category.name}}</p>
            <p><strong>Цена:</strong> {{product.price}} руб.</p>
            <p><strong>Описание:</strong></p>
            <p>{{ product.description }}</p>
            <p><small>Создан: {{ product.created_at }}</small></p>
            <p><small>Обновлён: {{ product.updated_at }}</small></p>
        </div>
        <p class="text-end mt-3"><a href="{% url 'home' %}">Вернуться на главную</a></p>
    </div>
{% endblock %}
